<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.integration">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light">
        <activity
            android:name=".PanierActivity"
            android:exported="true" />
        <activity
            android:name=".ClassementActivity"
            android:exported="true" />
        <activity
            android:name=".BoutiqueActivity"
            android:exported="true" />
        <activity
            android:name=".EventActivity"
            android:exported="true" />
        <activity
            android:name="com.example.integration.ScanActivity"
            android:screenOrientation="fullSensor"
            tools:replace="android:screenOrientation"
            android:stateNotNeeded="true"/>
        <activity
            android:name="com.example.integration.TicketActivity" />
        <activity
            android:name="com.example.integration.EnterTicketNumberActivity" />
        <activity
            android:name="com.example.integration.PointsReceivedActivity" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Citoyapp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MapsActivity" />
        <activity android:name=".RubishDescription"/>


    </application>


</manifest>